<div class="informations">

    <h2 id="info">Informations pratiques</h2>

        <h3>Horaires</h3>
        <ul>
            <li>Ouvert tous les jours de 9h à 18h.</li>
        </ul>


        <h3>Fermetures</h3>
            <ul>
                <li>Tous les mardis</li>
                <li>Les 1er mai, 1er novembre et 25 décembre</li>
            </ul>


        <h3>Tarifs</h3>
            <ul>
                <li>
                    Tarif normal : <br/>
                    Plus de 12 ans : 16 euros
                </li>

                <li>
                    Tarif enfant : <br/>
                    De 4 à 11 ans : 8 euros <br/>
                    Moins de 4 ans : gratuit
                </li>

                <li>
                    Tarif senior : <br/>
                    A partir de 60 ans : 12 euros
                </li>

                <li>
                    Tarif réduit : 10 euros <br/>
                    (accordé sous certaines conditions : étudiant, employé de musée, d'un service du Ministère de la culture,
militaire...)
                </li>
            </ul>

</div>