
<h1 style="color:#c82d00;">Billetterie du Musée du Louvre</h1>
    <h2>Acheter votre billet en ligne</h2>
    <p>
        Tarif réduit sur présentation d’un justificatif à l'entrée du musée (étudiant, militaire, employé du musée, d'un service du Ministère de la culture...).<br />
        Billet nominatif, valable seulement le jour sélectionné. <br />
        Billet à la journée ou à la demi-journée (à partir de 14 h)
    </p>

<div class="ancre">
<p><a href="#info">Informations pratiques</a></p>
</div>
