body {
    background-image: url(../images/imgbackground.jpg);
    background-repeat:no-repeat center fixed;
    background-color: black;
    background-size: cover; /* version standardisée */
    font-family: Arial,Verdana,Helvetica,sans-serif;
    line-height: 1.5em;
}

h2{
    font-size: 1.7em;
}
h3{
    font-size: 1.1em;
}

p{
    color:#4d4d4d;
    font-size: 1.0em;
}

a{
    color:grey;
    font-size: 1.0em;
}

hr{
    border-color: #ccc;
}

.champ{
    display: none;
}






/* --------------------------------------------------- */

.ancre{
    display: none;
    text-align: right;
    color: #6E6E6E;
}

.achat{
    background-color: lightgrey;

    text-align: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.btn {
    margin-bottom: 25px;

}


.checkbox label, .radio label {
    font-weight: 700;
}

.control-label{
    color: grey;
    font-weight: 400;
}

.commande{
    margin-left: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.erreur{
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}
.etape{
    color: white;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 20px;
}

.fondblanc{
    background-color: white;
}

.enteteerreur{
    background-color: white;
    height: 120px;
}
.entetepaiement{
    background-color: white;
    height: 120px;
}

.fondnoir{
    background-color: #262626;
    padding: 70px;
}

.fondnoirvalid{
    background-color: #262626;
    padding: 70px;
}

.formcoordonnees{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 20px;
}

.formulaire{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    padding-bottom: 30px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.form-group {
    margin-bottom: 0px;
}

.help-block ul li {
    color: #c82d00;
    font-size: 12px;
}

.informations{
    color: white;
    padding: 20px;
}

.intro{
    padding: 20px;
    background-color: white;
}

.navbar {
    border-radius: 0;
    position: relative;
    min-height: 110px;
    margin-bottom: 0;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}



.sousetape{
    background-color: #4e4e4e;
    color: white;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 20px;
}

.sousetape p{
    color: white;
}
.stripe-button-el{
    float: right;
    margin-bottom: 60px;


}


/* --------------------------------------------------- */

#appbundle_commande_Poursuivre{
    margin-bottom: 50px;

}


#appbundle_commande_ticketType{
    width: 240px;
}


#appbundle_commande_dateVisit{
    width: 170px;
}

#appbundle_commande_ticketsNumber{
    width: 60px;
}


#appbundle_commande_email{
    width: 250px;
}

#beneficiaires{
    margin-left: 7%;
    font-weight: 700;
}
.btn-primary{
    background-color: #222;
    border-color: #222;
    color: lightgrey;
}

.btn-primary:hover{
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

#adressemail{
    font-weight: 700;
    color: black;
}

#boutonvalidation{
    margin-top: 20px;
}

#center{
    text-align: center;
}

#cgv{
    margin-right: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
}

#detail{
    text-align: center;
    font-weight: 700;
    font-size: 1.2;
    margin-bottom: 20px;
}

#right{
    text-align: right;
}


#colonne{
    margin: 0;
    padding-right: 0;
    padding-left: 0;
}

#enflag{
    width: 60px;
    display: inline-block;
}

#felicitations{
    color: darkgreen;
    font-size: 1.4em;
    margin-bottom: 30px;
    font-weight: 700;
}

.flash-error{
    border: 1px solid #c82d00;
font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

#forminput{
    padding-left: 10px;
    padding-right: 10px;
}

#footer
{
    background-color: #222;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color : white;
}

#footer p  {
    color : white;
}

#footer a  {
     color : grey;
}

#frflag{
    width: 60px;
    display: inline-block;
}

#home{
    width: 60px;
    display: inline-block;
}

#info a {
    text-align: right;
    color: #6E6E6E;
}

#layout{
    background: #c82d00;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 768px;
}

#logo{
    width: 120px;
     display: inline-block;
    margin-left : 20px;
    margin-top: 15px;

}

#rangee{
    margin: 0;
    padding: 0;
}

#recap{
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

#recap th{
    background: #222;
    color: white;
    font-weight: 400;
}

#recap td{
    background: lightgrey;
    color: #4d4d4d;
}

#ticket{
    font-size: 1.1em;
    margin-left: 10px;
    font-weight: 700;
    color: #4e4e4e;
}

#titreTicket{
    font-weight: 700;
    border-top-color: white;
}


#total{
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    background-color: #222;
    width: 100%;
    padding: 10px;
    color: lightgrey;
    margin-bottom: 30px;
    margin-top: 30px;

}



/* --------------------------------------------------- */

@media screen and (max-width: 768px) {

    .ancre{
        display:block;
    }

    #forminput{
        padding-left: 50px;
        padding-right: 50px;
    }

    .fondnoirvalid{
        background-color: #262626;
        padding: 0;
    }

    .formbirthday .form-control{
    width: 75px;
    font-size: 1.0em;
    display: inline-block;
    }

    .formcoordonnees {
        margin-left: 0;
        margin-right: 0;
    }

    .informations{
        color: white;

        padding-left: 40px;
        padding-right: 40px;
    }
    #layout{
    width: 100%;
    }
    .recap tr td{
        float: left;
        margin: auto;
        width: 100%;

    }
    .recap tr th{
        display: none;}


    #center{
        text-align: left;
        font-weight: 700;
        padding-top: 10px;
        color: lightgrey !important;
        background-color: #222 !important;
        margin-top: 10px !important;
    }

.table > tbody > tr > td{
    padding-left: 30px;
    padding-right : 20px;
}

.champ{
    display: inline;
}

    .erreur{

        padding-left: 10px;
        padding-right: 10px;
        padding-top: 80px;
        padding-bottom: 80px;

    }




}
